site_name: Lorem Ipsum
nav:
  - Section:
    - index.md
    - Lorem: sub-menu-lorem/index.md
    - Ipsum: sub-menu-ipsum/index.md
markdown_extensions:
  - footnotes
theme:
  name: material
  palette:
    primary: blue grey
  features:
    - navigation.tabs
    - navigation.top